<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>document page</h1>
    
    <form method="POST" action="{% url "logout" %}">
        {% csrf_token %}
        <button>Logout</button>
    </form>

        {% for document in object_list %}
        <div>
            <a href="{% url "doc-edit" document.uuid %}">{{document.title}}</a>  &nbsp &nbsp  &nbsp&nbsp <a href="{% url "doc-delete" document.uuid %}"><button>delete</button></a>
 
        </div>

        {% endfor %}
</body>
</html> 